.ticker {
  position: relative;
  padding: 8px 0;
  display: flex;
  overflow: hidden;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: #262626;
}
.marquee {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  min-width: 100%;

  animation: scroll linear infinite;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
